{% extends 'includes/template.html.twig' %}

{% block title %}Découvrir{% endblock %}

{% block body %}
    <div class="jumbotron" id="jumbotron-menu">
        <div class="container">
            <h4>Découvrir</h4>
            <img src="img\photos\unbopon.png" alt="c leu + bopon 2 lihhhhhhhhhhhhhhhhhhhhhhhon" width="100%">
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <select class="custom-select col-3" id="types">
                <option selected>Choisissez un type de lieu :</option>
            {% for type in types %}
                <option value="{{ type.id }}">{{ type.libelle_fr }}</option>
            {% endfor %}
            </select>
        </div>
            
      {% for lieu in lieux %}
            <div class="row">
                <div class="media">
                    <img class="mr-3" src="img\photos\photo_{{lieu.id}}.jpg" alt="Generic placeholder image" width=10%>
                    <div class="media-body">
                        <h5 class="mt-0">{{lieu.nom}}  {{lieu.id}}</h5>

                        {{lieu.description_fr|raw}}

                    </div>
                </div>
            </div>
        {% endfor %}           
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/discover.js"></script>
{% endblock %}