{% extends 'includes/template.html.twig' %}

{% set page = 'home' %}

{% block styles %}
    <link rel="stylesheet" href="/css/leaflet/leaflet.css">
    {{ parent() }}
    <link rel="stylesheet" href="/css/leaflet/leaflet-bootstrapmodal.css">
{% endblock %}

{% block title %}Découvrez le quartier de Confluence{% endblock %}

{% block body %}
{# Block principal du site #}

<div class="jumbotron-header mb-0" id="jumbotron-homepage" style="background-image: url('http://fat.gfycat.com/NaughtyFrayedAplomadofalcon.gif');">
    <div class="container">
        <div class="jumbotron-title">
            <h1>{{ trad.home.jumbotron.title }}</h1>
            <p>{{ trad.home.jumbotron.subtitle }}...</p>
        </div>
    </div>
</div>

{# Bloc de texte #}
<div class="jumbotron">
    <div class="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nobis asperiores culpa numquam rerum quam neque, laboriosam debitis magni dolor minus velit reprehenderit distinctio consequatur placeat similique quos ipsa id!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nobis asperiores culpa numquam rerum quam neque, laboriosam debitis magni dolor minus velit reprehenderit distinctio consequatur placeat similique quos ipsa id!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nobis asperiores culpa numquam rerum quam neque, laboriosam debitis magni dolor minus velit reprehenderit distinctio consequatur placeat similique quos ipsa id!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nobis asperiores culpa numquam rerum quam neque, laboriosam debitis magni dolor minus velit reprehenderit distinctio consequatur placeat similique quos ipsa id!</p>
    </div>
</div>

<div id="mapid" class="mb-2">
    <!-- panel repères -->
    <div class="leaflet-top">
        <div class="card" id="liste" style="margin-left: 10px; margin-top: 200px; padding: 20px; z-index: 2;">
            <form id="types">
                {% for type in types %}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="type{{ type.id }}" value="{{ type.id }}">
                        <label class="custom-control-label" for="type{{ type.id }}"><i class="fa fa-{{ type.icone }}"></i> {{ type.libelle }}</label>
                    </div>
                {% endfor %}
            </form>
        </div> 
    </div>
</div>

<div class="container">
    <div class="row">
    {% set images = ["Quai.jpg", "Musee_Confluence.jpg", "Novotel.jpg"] %}
    {% for image in images %}
        <div class="col-md-4">
                <img src="/img/photos/{{ image }}?w=300" class="lightbox img-fluid" style="max-width: 300px;">
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}


{% block scripts %}
    {{ parent() }}
    <script src="/js/leaflet/leaflet.js"></script>
    <script src="/js/leaflet/leaflet-providers.js"></script>
    <script src="/js/leaflet/leaflet-bootstrapmodal.js"></script>
    <script src="/js/map.js"></script>
{% endblock %}