{% extends 'includes/template.html.twig' %}

{% set page = 'home' %}

{% block styles %}
    <link rel="stylesheet" href="/css/leaflet/leaflet.css">
    {{ parent() }}
    <link rel="stylesheet" href="/css/leaflet/leaflet-bootstrapmodal.css">
    <link rel="stylesheet" type="text/css" href="https://ignf.github.io/geoportal-extensions/current/dist/leaflet/GpPluginLeaflet.css">
{% endblock %}

{% block title %}Découvrez le quartier de Confluence{% endblock %}

{% block body %}
{# Block principal du site #}

<div class="jumbotron-header" id="jumbotron-main" style="background-image: url('/api/photos/Panorama_musee_confluence.jpg?w=2000');">
    <div class="container">
        <div class="jumbotron-title">
            <h1>{{ trad.home.jumbotron.title }}</h1>
            <p>{{ trad.home.jumbotron.subtitle }}...</p>
        </div>
    </div>
</div>

{# Bloc de texte #}
<div class="jumbotron">
    <div class="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nobis asperiores culpa numquam rerum quam neque, laboriosam debitis magni dolor minus velit reprehenderit distinctio consequatur placeat similique quos ipsa id!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nobis asperiores culpa numquam rerum quam neque, laboriosam debitis magni dolor minus velit reprehenderit distinctio consequatur placeat similique quos ipsa id!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nobis asperiores culpa numquam rerum quam neque, laboriosam debitis magni dolor minus velit reprehenderit distinctio consequatur placeat similique quos ipsa id!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nobis asperiores culpa numquam rerum quam neque, laboriosam debitis magni dolor minus velit reprehenderit distinctio consequatur placeat similique quos ipsa id!</p>
    </div>
</div>

<div id="mapid">
    <!-- panel repères -->
    <div class="leaflet-top">
        <div class="card" id="liste" style="margin-left: 10px; margin-top: 200px; padding: 20px; z-index: 2;">
            <form id="types">
                {% for type in types %}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="type{{ type.id }}" value="{{ type.id }}">
                        <label class="custom-control-label" for="type{{ type.id }}"><i class="fa fa-{{ type.icone }}"></i> {{ type.libelle }}</label>
                    </div>
                {% endfor %}
                <button class="btn btn-sm btn-secondary mt-2" data-toggle="check" type="button">Tout cocher</button>
            </form>
        </div> 
    </div>
</div>

<div class="container">
    <div class="row">
    {% set images = ["", "", ""] %}
    {% for i in 0..2 %}
        <div class="col-md-4">
            <div class="card">
                <img src="/img/photos/musee.jpg" class="lightbox img-fluid">
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}


{% block scripts %}
    {{ parent() }}
    <script src="/js/leaflet/leaflet.js"></script>
    <script src="/js/leaflet/leaflet-providers.js"></script>
    <script src="/js/leaflet/leaflet-bootstrapmodal.js"></script>
    <script src="https://ignf.github.io/geoportal-extensions/current/dist/leaflet/GpPluginLeaflet.js"></script>
    <script src="/js/map.js"></script>
{% endblock %}