{% extends 'includes/template.html.twig' %}

{% block title %}Se repérer{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="css/leaflet/leaflet.css">
{% endblock %}


{% block body %}
    <div class="jumbotron" id="jumbotron-menu">
        <div class="container">
            <h4>Se repérer</h4>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Se repérer</h4>
                <form id="types">
                    {% for type in types %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="type{{ type.id }}" value="{{ type.id }}">
                            <label class="custom-control-label" for="type{{ type.id }}"><i class="fa fa-{{ type.icone }}"></i> {{ type.libelle_fr }}</label>
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div class="col-md-8">
                <div id="mapid"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/leaflet/leaflet.js"></script>
    <script src="/js/leaflet/leaflet-providers.js"></script>
    <script src="/js/map.js"></script>
{% endblock %}