<div class="modal" tabindex="-1" role="dialog" id="reperes">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="types">
                    {% for type in types %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="type{{ type.id }}" value="{{ type.id }}">
                            <label class="custom-control-label" for="type{{ type.id }}"><i class="fa fa-{{ type.icone }}"></i> {{ type.libelle_fr }}</label>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</div>